@import "~uikit/dist/css/uikit.css";

body {
  --main-color: #ffffff;
  --pre-bg-color: #282b2e;
  --box-shadow-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  position: relative;
  padding: 0 0 8rem;
  box-sizing: border-box;
  background-color: #303030;
  transition: background-color 0.2s ease-in;
}

h1, h2, h3, h4, h5, p, a, i, li, div {
  color: var(--main-color);
  transition: color 0.2s ease-in;
}

.light {
  background-color: #fcfcfc;
}

a {
  text-decoration: underline;
}

a.active {
  color: var(--main-color) !important;
  font-weight: bold;
}

a:hover {
  color: #b97cc4;
}

.uk-badge {
  background-color: #b97cc4;
  box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  padding: 3px 10px;
}
